@tailwind base;
@tailwind components;
@tailwind utilities;

progress::-webkit-progress-bar {
  background-color: #e5e5e5;
}

progress::-webkit-progress-value {
  background-color: #115E59;
}

progress::-moz-progress-bar {
  background-color: #115E59;
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/MyFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
}