@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/MyFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calluna';
  src: url('./assets/fonts/Calluna_Sans_Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  font-family: 'TTNorms';
  src: url('./assets/fonts/TTNormsProRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'TTNorms', sans-serif;
}

h1{
  font-family: 'Calluna', sans-serif;
  letter-spacing: 5px;
}
 h2{
  font-family: 'Calluna', sans-serif;
  letter-spacing: 5px;
}

h3{
  font-family: 'TTNorms', sans-serif;
}
 
span{
  font-family: 'Calluna', sans-serif;
  letter-spacing: 2px;
}

a{
  font-family: 'Calluna', sans-serif;
  letter-spacing: 1px;
}